<%- include('./partials/head') %>

<!-- <h2>Students</h2> -->


<main>
  <section class="header-container">
    <h1>Meet the squad</h1>
    <h2>HVA frontend design 1E</h2>
    <div></div>
  </section>

  <section class="filter-container">
    <button>filter</button>
    <h3>The members</h3>

    <form><label for="sort"></label>
      <select name="sort" id="sort-select">
      <option value="alfabetisch-a">A-Z</option>
      <option value="alfabetisch-z">Z-A</option>
      <option value="leeftijd-laag">Leeftijd</option>
      <option value="leeftijd-hoog">Leeftijd</option>
    </select></form>
  </section>

  <section class="member-container">
  <ul>
    <% persons.forEach(person => { %>
      <li><div class="overlay"></div><div class="gradient"></div><h4><%= person.name %> <%= person.surname %></h4><button>meer info</button>
      <div class="member-info"><%= person.name %> <%= person.surname %> <%= person.bio %></div></li>
    <% }) %>
  </ul>

</section>

</main>

<%- include('./partials/foot') %>